* {
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: lightgrey;
}

.menu>nav {
    width: inherit;
    height: inherit;
}

.menu>nav>ul {
    width: inherit;
    height: inherit;
    text-align: center;
    list-style-type: none;
}

.menu>nav>ul>li {
    width: 150px;
    height: inherit;
    display: inline-block;
    line-height: 50px;
    box-sizing: border-box;
    background-color: darkcyan;
    position: relative;
}

.menu>nav>ul>li>a {
    width: inherit;
    height: inherit;
    display: block;
    color: aliceblue;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 300ms linear;
}

.menu>nav>ul>li>a:hover {
    background-color: darkgray;
    color: #111111;
}
.menu>nav>ul>li>ul {
    width: 250px;
    list-style-type: none;
    position: absolute;
    top: 51px;
    left: 0;
    display: none;
    transition: all 500ms linear;
}

.menu>nav>ul>li>ul>li {
    width: inherit;
    height: 50px;
}

.menu>nav>ul>li>ul>li>a {
    display: block;
    height: inherit;
    line-height: 50px;
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    background-color: darkcyan;
    transition: all 300ms linear;
}
.menu>nav>ul>li>ul>li>a:hover{
    color: #111111;
    background-color: darkgray;
}
.menu>nav>ul>li:hover>ul{
display: block;
}
